arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
crispy-bootstrap4
cryptography
cssselect2
Django
django-appconf
django-bootstrap-modal-forms
django-bootstrap3
django-crispy-forms
django-embed-video
django-forms-bootstrap
django-select2
django-widget-tweaks
gunicorn
html5lib
idna
lxml
oscrypto
packaging
pillow
pycparser
pyHanko
pyhanko-certvalidator
pypdf
python-bidi
PyYAML
reportlab
requests
six
sqlparse
svglib
tinycss2
tzdata
tzlocal
upgrade-pip
uritools
urllib3
webencodings
whitenoise
xhtml2pdf
